<header class="header">
    <a id="auth" href="/auth">Login<img id="arrowImg" src="src/img/header/auth.png" alt="login" />
    </a>
    <h1 id="headerTitle" class="header-title">
        Welcome to the CVC
    </h1>
    <div class="header-content">
        Welcome to the СV constructor. On this page, you can
        either view my resume or create your own.
    </div>
    <div class="header-menu">
        <ul class="header-menu">
            <li class="header-menu__li">
                <a id="viewCV" href="/view">
                    View author CV
                </a>
            </li>
            <li class="header-menu__li">
                <a id="create" href="/create">
                    Create CV
                </a>
            </li>
        </ul>
    </div>
</header>