<div class="products">
   <h3 class="products-title">
      Want to see my other work? Click on one of the ones below...
   </h3>
   <nav class="products-nav">
      <ul class="products-nav__ul">
         <li>
            <a href="https://cloud-protectly.herokuapp.com/" target="_blank"
               >Cloud Protectly</a
            >
         </li>
         <li>
            <a href="https://hot-dogs-managmnet.herokuapp.com/" target="_blank"
               >HotDogsManagment
            </a>
         </li>
         <li>
            <a href="https://cuda-dev.herokuapp.com/" target="_blank">Cuda</a>
         </li>
         <li>
            <a href="https://quickly-do.herokuapp.com/" target="_blank"
               >QuicklyDo</a
            >
         </li>
         <li>
            <a
               href="https://portfolio-designer-react.herokuapp.com/"
               target="_blank"
               >Portfolio-Designer-React</a
            >
         </li>
         <li>
            <a
               href="https://table-manager.herokuapp.com/"
               target="_blank"
               >Table manager - React</a
            >
         </li>
      </ul>
   </nav>
</div>
