<%- include ('head')%> 

<body>
    <div class="wrap">
        <div class="content">
            <a href="/" id="toIndex"><img id="arrowImg" src="src/img/cv/back.png" alt="login" /> Get back</a>
            <section class="cv">
                <div class="cv-column-1">
                    <article class="cv-basic">
                        <div class="userPhoto-layerShadow">
                            <img class="userPhoto" src="src/img/myCV/profile.png" alt="user" />
                        </div>
                        <div class="basic-info-layer">
                            <div class="cv-basic__info">
                                <h2 class="cv-title">Basic</h2>
                                <span class="userName">Name: Oleksandr</span>
                                <span class="userSurame">Surname: Chornolutskyi</span>
                                <span class="userBirthday">Birthday: 03.09.1994</span>
                            </div>
                            <div class="cv-basic__contacts">
                                <h2 class="cv-title">contacts</h2>
                                <a class="userPhone" href="tel:+380939631329"><span>+380939631329</span></a>
                                <a class="userMail" href="mailto:ochornolutskyi@gmail.com">ochornolutskyi@gmail.com</a>
                                <span class="userCity">Vinnytsia</span>
                            </div>
                        </div>
                    </article>
                    <article class="cv-education">
                        <h2 class="cv-title">education</h2>
                        <div class="education">
                            <div class="university">
                                <p class="cv-subtitle-row-1">
                                    <span class="cv-element-name">VNTU
                                    </span>
                                    <span class="cv-element-years">2011 - 2015</span>
                                </p>
                                <p class="cv-subtitle-row-2">
                                    <span class="cv-element-position">
                                        B.Sc.
                                    </span>
                                    <span class="cv-element-description">Institute of Information
                                        Technologies and Computer
                                        Engineering.
                                    </span>
                                    <span class="cv-element-department">Computer Science.</span>
                                </p>
                            </div>
                        </div>
                        <div class="education">
                            <p class="cv-subtitle-row-1">
                                <span class="cv-element-name">
                                    VNTU</span>
                                <span class="cv-element-years">2015 - 2016
                                </span>
                            </p>
                            <p class="cv-subtitle-row-2">
                                <span class="cv-element-position">Specialist.</span>
                                <span class="cv-element-description">Institute of Information
                                    Technologies and Computer
                                    Engineering.
                                </span>
                                <span class="cv-element-department">Computer Science.</span>
                            </p>
                        </div>
                    </article>
                    <article class="cv-expirience">
                        <h2 class="cv-title">expirience</h2>
                        <div class="expirience">
                            <p class="cv-subtitle-row-1">
                                <span class="cv-element-name">
                                    Online store "lopata.com.ua"</span>
                                <span class="cv-element-years">04/2017 - 07/2017</span>
                            </p>
                            <p class="cv-subtitle-row-2">
                                <span class="cv-element-position">Sales Manager.</span>
                                <span class="cv-element-department">Sales department.</span>
                            </p>
                        </div>
                        <div class="expirience">
                            <p class="cv-subtitle-row-1">
                                <span class="cv-element-name">LLC "Epicentr-K"</span>
                                <span class="cv-element-years">09/2017 - 06/2018</span>
                            </p>
                            <p class="cv-subtitle-row-2">
                                <span class="cv-element-position">Sales advisor.</span>
                                <span class="cv-element-department">Sports goods department.</span>
                            </p>
                        </div>
                    </article>
                    <article class="cv-cources">
                        <h2 class="cv-title">Cources</h2>
                        <div class="cource">
                            <p class="cv-subtitle-row-1">
                                <span class="cv-element-name">
                                    VNTU</span>
                                <span class="cv-element-years" style="border-bottom: none;"></span>
                            </p>
                            <p class="cv-subtitle-row-2">
                                <span class="cv-element-description">DIPLOMA of the computer set.
                                </span>
                            </p>
                        </div>
                        <div class="cource">
                            <p class="cv-subtitle-row-1">
                                <span class="cv-element-name">
                                    VINNYTSIA IT SCHOOL</span>
                                <span class="cv-element-years">2019
                                </span>
                            </p>
                            <p class="cv-subtitle-row-2">
                                <span class="cv-element-description">DIPLOMA of the Web development (17+).
                                </span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="cv-column-2">
                    <article class="cv-skills">
                        <h2 class="cv-title">skills</h2>
                        <p class="skill">
                            <span class="skill-name">HTML5:</span>
                            <span class="skill-rating">8/10</span>
                        </p>
                        <p class="skill">
                            <span class="skill-name">CSS3:</span>
                            <span class="skill-rating">8/10</span>
                        </p>
                        <p class="skill">
                            <span class="skill-name">JavaScript:</span>
                            <span class="skill-rating">3/10</span>
                        </p>
                        <p class="skill">
                            <span class="skill-name">JQuery:</span>
                            <span class="skill-rating">4/10</span>
                        </p>
                        <p class="skill">
                            <span class="skill-name">Node.js:</span>
                            <span class="skill-rating">3/10</span>
                        </p>
                        <p class="skill">
                            <span class="skill-name">MongoDB:</span>
                            <span class="skill-rating">4/10</span>
                        </p>
                        <p class="skill">
                            <span class="skill-name">Git:</span>
                            <span class="skill-rating">4/10</span>
                        </p>
                    </article>
                    <article class="cv-languages">
                        <h2 class="cv-title">languages</h2>
                        <p class="language">
                            <span class="language-name">Ukrainian:</span>
                            <span class="language-rating">Advanced/Fluent</span>
                        </p>
                        <p class="language">
                            <span class="language-name">English:</span>
                            <span class="language-rating">Pre-Intermediate</span>
                        </p>
                        <p class="language">
                            <span class="language-name">Russian:</span>
                            <span class="language-rating">Advanced/Fluent</span>
                        </p>
                    </article>
                </div>
            </section>
        </div>
    </div>
</body>
<script src="js/main.js"></script>

</html>