<%- include ('partials/head')%>

<body>
    <div class="wrap">
        <div class="content">
            <%- include ('partials/header') %>
            <main class="main">
                <p id="introduce">Hi there! If you would like to see my resume, please, click "View author CV". Or you
                    can download .doc <a id="cvDownload" href="/src/Frontend Developer - Chornolutskyi Oleksandr.docx" download="">file</a></p>
                <%- include ('partials/products') %>
            </main>
        </div>
        <%- include ('partials/footer')%>
    </div>
    <script src="js/main.js"></script>
</body>

</html>