<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My CV</title>
    <link rel="shortcut icon" href="/src/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body>
    <div class="wrap">
        <div class="content">
            <header class="header">
                <a id="auth" href="/auth">Login<img id="authImg" src="src/img/header/auth.png" alt="login">
                </a>
                <h1 id="headerTitle" class="header-title">Welcome to CVC</h1>
                <article class="header-content">Welcome to the СV constructor. On this page, you can either
                    view my resume or create your own.</article>
                <nav class="header-nav">
                    <ul class="header-nav">
                        <li class="header-nav__li">
                            <a id="viewCV" href="/view">
                                View my CV
                            </a>
                        </li>
                        <li class="header-nav__li">
                            <a id="create" href="/create">
                                Create CV
                            </a>
                        </li>
                    </ul>
                </nav>

            </header>
        </div>

        <footer class="footer"></footer>
    </div>
</body>
<script src="js/main.js"></script>

</html>